.App {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  max-width: 1280px;
  margin: auto;
  color: #2c3e50; }

.App-title {
  font-size: 2em;
  font-weight: normal; }

.App-intro {
  font-size: large; }

.warning {
  color: #990000;
  font-weight: bold; }

body {
  margin: 0;
  padding: 0; }

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

.dd-logo {
  height: 150px; }
